#shapeForm {
    margin-bottom: 10px;
}

#submitButton {
    margin-right: 50px;
}

#saveButton {
    margin-left: 50px;
}

#currentShapeId {
    margin-right: 10px;
    width: 100px;
}