/* You can add global styles to this file, and also import other style files */
body{
    background-color: bisque;
}

input {
    margin-bottom: 10px;
    margin-right: 10px;
}

button {
    margin-bottom: 10px;
    margin-right: 10px;
}

select {
    margin-bottom: 10px;
    margin-right: 10px;
}